<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="static/style2.css?{{ date }}">
	<title>Evan's Website</title>
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@469&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="giant-container">
		<div class="title">Message Submitted</div>
			<div class="message-contain">
				<div class="sent-message">Thanks for submitting this message {{ name }}. I will try to get in touch with you shortly.</div>
				<div class="button-container">
					<button>
						<a style="color:white;text-decoration:none;" href="/">Back</a>
					</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>